
<div class="row justify-content-center">
  <div class="card mt-sm-3-col-md-8">
    <div class="card-body">
      <h3 class="mb-0">Artist Directory</h3>
      <div class="form-group">
        <div class="form-label">
          <input class="form-control mt-2" type="text">
        </div>
      </div>
    </div>
  </div>

</div>
<button class="btn btn-primary" (click)="load_currenncies()">Load data</button>
<hr>
<div class="container">
  <div class="brew-body" *ngFor="let brew of brewerires">
    <h3 class="mb-0"> Brewery Name: {{brew.name}}</h3>
    <p>State: {{brew.state }}</p>
    <p>City: {{brew.city}}</p>
    <p>Country: {{brew.country}}</p>
  </div>
</div>



<router-outlet></router-outlet>
