
<div class="row justify-content-center">
  <div class="card mt-sm-3-col-md-8">
    <div class="card-body">
      <h2 class="mb-0">Brew Directory</h2>
      <div class="form-group" *ngIf = "artists">
        <p>{{artists}}</p>
      </div>

      <div class="form-label" >
        <input class="form-control mt-2" type="text" [(ngModel)] = "artists">
      </div>
    </div>
  </div>

</div>

<hr>
<div class="container">
  <div class="brew-body" *ngFor="let brew of (response | searchBrew:artists)" (click)="showBrewery(brew); artists=''" [style.backgroundColor]="brew.highlight ? '#EEE': '#FFF'">
    <app-brews [brew]="brew"></app-brews>
  </div>
</div>


<!-- <app-brewDetails *ngIf="currentBrew" [brew]="currentBrew"></app-brewDetails> -->



<router-outlet></router-outlet>
